body {
  font-family: Arial, sans-serif;
  padding: 70px;
  text-align: center;
}
.main-container {
  display: flex;
  justify-content: center;
}
.user {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}
